[Unit]
Description=RingDetector Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/RingDetector/
ExecStart=/usr/bin/python3 /home/pi/RingDetector/RingDetector.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
